@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
.reviewContainer, .reviewContainer .reviews {
  display: flex;
  justify-content: center;
  align-items: center; }

.reviewContainer {
  margin: 100px 0;
  padding: 0 30px;
  position: relative;
  height: 950px;
  align-items: flex-start; }
  .reviewContainer::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 60%;
    background: #f8765e;
    top: 0;
    right: 0;
    border-radius: 20px 0 0 20px;
    z-index: 0; }
  .reviewContainer .bigQuotesContainer {
    z-index: 1;
    padding: 30px 0;
    width: 100%;
    max-width: 1400px; }
    .reviewContainer .bigQuotesContainer .bigQuotes {
      position: relative;
      width: fit-content; }
    .reviewContainer .bigQuotesContainer img {
      margin-right: 50px; }
      .reviewContainer .bigQuotesContainer img:nth-child(2) {
        margin-right: 0px; }
    .reviewContainer .bigQuotesContainer h3 {
      color: #f8765e;
      position: absolute;
      top: 40px;
      left: 20px;
      font-size: 2.6rem; }
  .reviewContainer .reviews {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2; }
    .reviewContainer .reviews .cardContainer {
      width: 100%;
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 420px);
      grid-gap: 2rem;
      justify-content: center;
      align-items: center; }
      .reviewContainer .reviews .cardContainer::-webkit-scrollbar {
        display: none; }
    .reviewContainer .reviews .card {
      transform: translateX(50px);
      height: 500px;
      background: #fff;
      padding: 5rem 3rem;
      color: #7c7c7c;
      font-size: 1.2rem;
      line-height: 2.4rem;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 12px 12px 40px rgba(0, 0, 0, 0.25); }
      .reviewContainer .reviews .card span {
        color: black; }
      .reviewContainer .reviews .card:nth-child(odd) {
        background: #9bdbe7;
        color: #fff !important; }
        .reviewContainer .reviews .card:nth-child(odd) span {
          color: #fff !important; }
      .reviewContainer .reviews .card p {
        margin: 2rem 0; }

@media (min-width: 2560px) {
  .reviewContainer::after {
    width: 53%; } }

@media (max-width: 1400px) {
  .reviewContainer {
    margin: 8vw 0;
    height: 70vw; }
    .reviewContainer .bigQuotesContainer img {
      width: 11.5vw;
      margin-right: 3.5vw; }
    .reviewContainer .bigQuotesContainer h3 {
      top: 3vw;
      left: 1vw;
      font-size: 3vw; }
    .reviewContainer .reviews .cardContainer {
      grid-template-columns: repeat(auto-fit, 30vw);
      grid-gap: 2vw; }
    .reviewContainer .reviews .card {
      height: 35vw;
      padding: 5vw 3vw;
      font-size: 1.5vw;
      line-height: 3vw;
      border-radius: 2vw; }
      .reviewContainer .reviews .card img {
        width: 6%; }
      .reviewContainer .reviews .card p {
        margin: 2vw 0; } }

@media (max-width: 992px) {
  .reviewContainer .reviews .card {
    font-size: 1.8vw;
    line-height: 3.5vw; } }

@media (max-width: 640px) {
  .reviewContainer {
    margin: 45vw 0 20vw 0;
    height: 140vw; }
    .reviewContainer::after {
      width: 80%; }
    .reviewContainer .bigQuotesContainer {
      padding: 0; }
      .reviewContainer .bigQuotesContainer .bigQuotes {
        transform: translateY(-25vw); }
      .reviewContainer .bigQuotesContainer img {
        width: 15vw;
        margin-right: 3vw; }
      .reviewContainer .bigQuotesContainer h3 {
        top: 4vw;
        left: 2vw;
        width: 120%;
        font-size: 5vw;
        line-height: 8vw; }
    .reviewContainer .reviews .cardContainer {
      overflow-x: auto;
      grid-template-columns: repeat(2, 70vw);
      justify-content: flex-start;
      grid-gap: 4vw; }
    .reviewContainer .reviews .card {
      transform: translateX(0px);
      position: relative;
      height: 90vw;
      margin-right: 0;
      padding: 10vw 5vw;
      font-size: 5vw;
      line-height: 8vw;
      border-radius: 4vw; } }
